@use 'vars' as *;

body {
  font-size: $font__size;
  font-family: $font__family;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  @media (max-width: 1280px) {
    font-size: 2.25rem;
  }
}
h2 {
  font-size: 1.35rem;
  font-weight: 600;
}
p {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.025rem;
  line-height: 1.35rem;
  @media (max-width: 1280px) {
    font-size: 0.95rem;
  }
}
a {
  font-size: 0.85rem;
  font-weight: 500;
  letter-spacing: 1.15rem;
  text-transform: uppercase;
  &:hover {
    letter-spacing: 0.875rem;
  }
}
