// ____________________COLORS____________________
$text__color: hsl(0, 0%, 63%);
$accent__color: hsl(0, 0%, 27%);
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);

// ____________________TYPOGRAPHY____________________
$font__size: 12px;
$font__family: 'Spartan', sans-serif;
// Weights: 500, 600, 700

//____________________OTHER____________________
$transition: all 0.325s;
$space: 1.25rem;
